<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books{
            width: 50%;
            border-collapse: collapse;
        }

        table{
            margin: 25px;
        }
        th{
            text-align: left;
        }
        th,td{
            border-bottom: 1px solid #ddd;
        }

    </style>
</head>
<body>
    <div id="root_container">
        <form method="post" th:action="@{/books/save}" th:object="${book}">
            <table>
                <tr>
                    <td>
                        <input type="text" title="field value must be filled" placeholder="author" th:field="*{author}">
                        <br>
                        <sub th:if="${#fields.hasErrors('author')}">error</sub>
                    </td>
                    <td>
                        <input type="text" title="field value must be filled" placeholder="book_title" th:field="*{title}">
                        <br>
                        <sub th:if="${#fields.hasErrors('title')}">error</sub>
                    </td>
                    <td>
                        <input type="text" title="field value must be filled by digit less than 4 signs" placeholder="size (pages)" th:field="*{size}">
                        <br>
                        <sub th:if="${#fields.hasErrors('size')}">error</sub>
                    </td>
                    <td>
                        <input type="submit" value="save">
                    </td>
                </tr>
            </table>
        </form>

        <form method="post" th:action="@{/books/remove}" th:object="${bookRegexToRemove}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="regex to remove" th:field="*{regex}">
                    </td>
                    <td>
                        <input type="submit" value="remove">
                    </td>
                    <td th:if="${notFoundRegex}" class="error">
                        <p>Wrong regex or not found</p>
                    </td>
                </tr>
            </table>
        </form>

        <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>
                        <input type="file" name="file"/>
                    </td>
                    <td th:if="${notSelectedFile}" class="error">Not selected file to upload</td>
                    <td>
                        <input type="submit" value="Upload">
                    </td>
                </tr>
            </table>
        </form>

        <table id="books">
            <tr>
                <th>id</th>
                <th>author</th>
                <th>title</th>
                <th>size</th>
            </tr>
            <tr th:each="book : ${bookList}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.size}"></td>

            </tr>

        </table>
    </div>

</body>
</html>